<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ca.gc.ircc.ta.wrappers.ApplicationAssessmentKafkaWrapper</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckDocumentInCollection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckEventinTopic</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckEventConsumption</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BootStrap</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Afterclassfunctionhere</td>
<td>&nbsp;</td></tr>
</table>
