<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5a992">  <td>21/10/11 22:58:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApplicationAssessmentKafkaWrapper.BootStrap(java.lang.String,java.lang.String)[pri:0, instance:ca.gc.ircc.ta.wrappers.ApplicationAssessmentKafkaWrapper@6caf0677]">&gt;&gt;BootStrap</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@684566052</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/10/11 22:58:43</td>   <td>11717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationAssessmentKafkaWrapper.CheckEventConsumption()[pri:2, instance:ca.gc.ircc.ta.wrappers.ApplicationAssessmentKafkaWrapper@6caf0677]">CheckEventConsumption</td> 
  <td>main@684566052</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/10/11 22:58:33</td>   <td>1798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationAssessmentKafkaWrapper.CheckEventinTopic()[pri:1, instance:ca.gc.ircc.ta.wrappers.ApplicationAssessmentKafkaWrapper@6caf0677]">CheckEventinTopic</td> 
  <td>main@684566052</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/10/11 22:58:43</td>   <td>11720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationAssessmentKafkaWrapper.CheckDocumentInCollection()[pri:3, instance:ca.gc.ircc.ta.wrappers.ApplicationAssessmentKafkaWrapper@6caf0677]">CheckDocumentInCollection</td> 
  <td>main@684566052</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/10/11 22:58:43</td>   <td>11723</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ApplicationAssessmentKafkaWrapper.Afterclassfunctionhere()[pri:0, instance:ca.gc.ircc.ta.wrappers.ApplicationAssessmentKafkaWrapper@6caf0677]">&lt;&lt;Afterclassfunctionhere</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@684566052</td>   <td></td> </tr>
</table>
